{% extends "people/_profile.html" %}

{% block bio %}

<section>
    <h2>About</h2>
    <p>
        Chantal Tax is currently employed as an Associate Professor at
        the Radiology department of the University Medical Center Utrecht and the Image Sciences Institute. She is also affiliated to the Cardiff University Brain Research Imaging Centre (CUBRIC) as a Research Fellow.
    </p>
</section>

<section>
    <h2>Background</h2>
    <p>
        I received my MSc in Medical Engineering from Eindhoven University of Technology in 2012 and my PhD in Medical Imaging, with a focus on diffusion MRI, from UMC Utrecht in 2016.
        At the Center for Image Sciences, UMC Utrecht, I aim to develop methodology across the entire MRI pipeline, from hardware capabilities and pulse sequence design to acquisition strategies, image processing, quantitative modelling, and clinical applications. My research focuses particularly on quantitative diffusion and relaxation MRI and 4D flow MRI, with the goal of developing efficient and biologically informative imaging methods.
        A central theme of my work is the optimisation of MRI experiments and analysis frameworks to extract the richest possible information about tissue architecture and dynamics within practical scan times. Ultimately, my goal is to bridge methodological innovation and clinical impact, enabling MRI to provide more accurate and meaningful biomarkers for both research and patient care.
    </p>
</section>

<section>
    <h2>Grants &amp; awards</h2>
    <ul>
        <li> VIDI (NWO) Unveiling Tissue Microstructural Mysteries with Ultra-High Field Diffusion MRI (28.2T)</li>
    </ul>
</section>

<section>
    <h2>Selected publications</h2>
        <ul>
            <li>
                Planchuelo-Gómez, Á., Descoteaux, M., Larochelle, H., Hutter, J., Jones, D. K., & Tax, C. M. W. (2024).
                Optimisation of quantitative brain diffusion-relaxation MRI acquisition protocols with physics-informed
                machine learning. <i>Medical Image Analysis, 97</i>, 103134.
                <a href="https://doi.org/10.1016/j.media.2024.103134" target="_blank" rel="noopener">
                    https://doi.org/10.1016/j.media.2024.103134
                </a>
            </li>
    <li>
                G. C. Arends,  E. Versteeg,  A. De Luca,  F. Marc,  T. H. M. Roos,  D. W. J. Klomp,  M. Froeling,  J. C. W. Siero,  C. M. W. Tax. Feasibility of strong diffusion encoding and fast readout using
                a plug-and-play head gradient insert at 7 T. <i>Magnetic Resonance in Medicine, 94</i>(5), 2304–2316 (2025).
                <a href="https://doi.org/10.1002/mrm.30613" target="_blank" rel="noopener">
                    https://doi.org/10.1002/mrm.30613
                </a>
                </li>
    <li>
                Tax, C. M. W., Bastiani, M., Veraart, J., Garyfallidis, E., & Irfanoglu, M. O. (2021).
                What’s new and what’s next in diffusion MRI preprocessing. <i>NeuroImage, 241</i>, 118830.
                <a href="https://doi.org/10.1016/j.neuroimage.2021.118830" target="_blank" rel="noopener">
                    https://doi.org/10.1016/j.neuroimage.2021.118830
                </a>
            </li>
        </ul>
</section>

{% endblock %}
