{% extends "people/_profile.html" %}

{% block bio %}

<section>
    <h2>About</h2>
    <p>
        Medical imaging researcher, specializing in the development and validation of diffusion MRI techniques for improved diagnostic accuracy.
        Currently a second-year PhD candidate at UMC Utrecht, working in collaboration with Cerebriu A/S (Copenhagen) on developing an automated preprocessing, quality control and detection MRI pipeline for prostate cancer.
    </p>
</section>

<section>
    <h2>Background</h2>
    <ul>
        <li>BSc Physics</li>
        <li>MSc Medical Imaging</li>
    </ul>
</section>

<section>
    <h2>Grants &amp; awards</h2>
    <ul>
        <li>Eurostars 3 Project “PRISMA” (Prostate Imaging Solutions with MRI Automation) Project ID: ESTAR24203</li>
    </ul>
</section>

{# Selected publications: add content here, e.g. <ul><li>...</li></ul>, then wrap in <section> like the others #}

{% endblock %}
