{% extends "people/_profile.html" %}

{% block bio %}

<section>
    <h2>About</h2>
    <p>
        Dominique Weltevreden is employed as a PhD candidate at the Developmental Psychology department of Utrecht University, in collaboration with Eindhoven University of Technology and the Radiology department of the University Medical Center Utrecht and the Image Sciences Institute. She works with multiple modalities of data, including ultrasound and structural MRI. Recently, she has been working with normative modelling frameworks for early brain development.
    </p>
</section>

<section>
    <h2>Background</h2>
    <p>
        Dominique Weltevreden received a bachelor's degree in behavioral neuroscience and a master's degree in computational science from the University of Amsterdam. She wrote her master thesis at the Bioinformatics Laboratory of the Amsterdam University Medical Centre on AI applications for predicting antigen-antibody binding. Her interest lies in interdisciplinary research combining computational and machine learning methods for (mental) health benefits.
    </p>
</section>

{# Grants &amp; awards: add content here, e.g. <ul><li>...</li></ul>, then wrap in <section> like the others #}

{% endblock %}
