{% extends "people/_profile.html" %}

{% block bio %}

<section>
    <h2>Background</h2>
    <p>
        Jeroen de Groot was born in the Netherlands on August 17, 2003. He received his Bachelor's degree in Biomedical Engineering from Eindhoven University of Technology and completed his Master's degree in Biomedical Engineering with a specialization in Medical Image Analysis, conducting his thesis research at UMC Utrecht. Currently, his research focuses on using time-dependent diffusion MRI to characterize the microstructural properties of tumors.
    </p>
</section>

{% endblock %}
