{% extends "people/_profile.html" %}

{% block bio %}

<section>
    <h2>About</h2>
    <p>
        Leon Arends is currently employed as a PhD candidate at
        the Radiology department of the University Medical Center Utrecht, the High Precision Imaging Group and the Image Sciences Institute.
    </p>
</section>

<section>
    <h2>Background</h2>
    <p>
        Leon Arends was born in the Netherlands (August 16, 1999). He received his bachelor's degree in Physics and Chemistry from the University of Utrecht
        and his Master's degree in Applied Physics from the TU Delft (where he wrote his thesis at SteeleLab on Quantum Kerr Oscillators).
        Currently, his research focus is on using plug-and-play gradient inserts for high performance diffusion MRI on brain and breast.
        Further interests are fitting diffusion MRI signal models in combination with neural networks.
    </p>
</section>

<section>
    <h2>Grants &amp; awards</h2>
    <ul>
        <li>Trainee award best poster presentation ISMRM Diffusion MRI workshop Kyoto</li>
    </ul>
</section>

<section>
    <h2>Selected publications</h2>
    <ul>
        <li>
            T. Hendriks, G. C. Arends, E. Versteeg, A. Vilanova, M. Chamberland, C. M. W. Tax.
            Implicit neural representations for accurate estimation of the standard model of white matter.
            <i>Communications Biology</i> (2026).
            <a href="https://doi.org/10.1038/s42003-025-09399-5" target="_blank" rel="noopener">https://doi.org/10.1038/s42003-025-09399-5</a>
        </li>
        <li>
            G. C. Arends, E. Versteeg, A. De Luca, F. Marc, T. H. M. Roos, D. W. J. Klomp, M. Froeling, J. C. W. Siero, C. M. W. Tax.
            Feasibility of strong diffusion encoding and fast readout using a plug-and-play head gradient insert at 7 T.
            <i>Magnetic Resonance in Medicine, 94</i>(5), 2304–2316 (2025).
            <a href="https://doi.org/10.1002/mrm.30613" target="_blank" rel="noopener">https://doi.org/10.1002/mrm.30613</a>
        </li>
    </ul>
</section>

{% endblock %}
