{% extends "people/_profile.html" %}

{% block bio %}

<section>
    <h2>About</h2>
    <p>
        I am a PhD candidate at the Department of Imaging and Oncology, UMC Utrecht, focusing on the development and evaluation of novel diffusion MRI techniques with improved sensitivity and specificity to tumour microstructure. The goal of my project is to establish imaging biomarkers that enable better risk stratification and earlier response monitoring in children and adolescents with rhabdomyosarcoma and Ewing sarcoma, two rare but aggressive cancers. I evaluate these techniques in in-vitro models (organoids) and patient data.
    </p>
</section>

<section>
    <h2>Background</h2>
    <ul>
        <li>
            BSc Information Engineering, University of Padua
        </li>
        <li>
            MSc Biomedical Engineering, double degree between the Technical University of Denmark (DTU) and Politecnico di Milano
        </li>
        <li>
            Research Assistant, Danish Research Centre for Magnetic Resonance (DRCMR), Denmark, working on diffusion MRI in Alzheimer's disease
        </li>
    </ul>
</section>

{% endblock %}
