{% extends "news/_article.html" %}
{% load static %}

{% block article %}
<h1>Highlights from ISMRM 2026 in Cape Town</h1>

<p class="standfirst">A recap of our highlights from the ISMRM 2026 annual meeting in Cape Town.</p>

<p>
    We are pleased to announce that Dr. Tatiana Nikolaeva's abstract, <em>"High-Frequency OGSE at 28.2T in a
    Cortical Brain Organoid and Fiber Phantom"</em>, has been nominated for the Best Power Pitch Award. This
    recognition highlights the innovative work being carried out by members of the diffusion MRI community and
    showcases the impact of cutting-edge research in the field.
</p>

<p>
    Looking ahead, we are excited to introduce the upcoming <strong>Microstructure Challenge</strong>, which will
    provide a platform for the community to evaluate and compare emerging approaches to correlate histology to MRI
    microscopy. Data will be provided with our unique imaging capabilities at 28.2T. Further details will be
    presented during the Microstructure Imaging Workshop at the ESMRMB Conference in Girona. We encourage all
    interested researchers to stay tuned for announcements and opportunities to participate.
</p>

<figure>
    <img src="{% static 'images/ISMRM_2026.jpg' %}" alt="Presentation of the Microstructural Imaging Challenge: Beyond conventional hardware and scale">
</figure>
{% endblock %}
