{% extends "news/_article.html" %}
{% load static %}

{% block article %}
<h1>Unveiling tissue microstructural mysteries with ultra-high-field diffusion MRI (28.2T)</h1>

<p class="standfirst">
    We are very excited about the opportunity to explore tissue microstructural mysteries using diffusion MRI
    at 28.2T, enabled by an NWO VIDI grant awarded to <a href="{% url 'person_detail' 'chantal-tax' %}">Chantal Tax</a>.
</p>

<p>
    This project aims to push the boundaries of diffusion MRI to better understand tissue microstructure and
    improve the accuracy of biological and medical imaging models. By leveraging ultra-high-field imaging,
    advanced computational approaches, and complementary experimental techniques, we hope to gain deeper
    insight into complex biological systems.
</p>

<p>
    We are deeply grateful to the NWO Applied and Engineering Sciences panel, the reviewers, collaborators, and
    user committee members for their support. We also thank our colleagues at the UMC Utrecht Image Sciences
    Institute, High Field group, MRI Gradient Team, Cell Microscopy Core, Center for Molecular Medicine,
    UMC Utrecht Brain Center, Funding &amp; Support (RSO) at UMC Utrecht, the Princess Máxima Center, and
    uNMR-NL for their contributions and collaboration in making this project possible.
</p>
{% endblock %}
